section#pricing.section
    .section-row-container
        .section-row
            .container
                .row
                    .col-lg-12
                        h1.section-title.show-counter
                            !='Nossos Planos<small>Feitos para descomplicar e ajudar a sua empresa a ir mais longe. </small>'
                .row
                    .col-md-4
                        .pricing-table(data-animation-name="flipInY")
                            h2.price
                                !='<small>Imagem irresistibile</small>'
                            h5.name
                                !='Perfeito para quem está abrindo uma empresa!.'
                            .features
                                ul
                                    li
                                        !='<span>Logo</span> que nunca vão sair de moda!'
                                    li
                                        !='<span>Papelaria</span> Cartões de visita, papel timbrado, pastas, etc. '
                                    li
                                        !='<span>Plano de Marketing</span> mini'
                                    li
                                        !='<span>4 Bônus</span> personalizados'
                                    li
                                        !='Prioritized Support'
                            a.btn.btn-sm.btn-primary.btn-block(href="#")
                                !='Sign Up'
                    .col-md-4
                        .pricing-table.featured(data-animation-name="flipInY")
                            h2.price
                                !='$5<small>/mo.</small>'
                            h5.name
                                !='Basic'
                            .features
                                ul
                                    li
                                        !='<span>250</span> templates to choose from'
                                    li
                                        !='<span>10GB</span> disk space'
                                    li
                                        !='<span>5TB</span> bandwidth'
                                    li
                                        !='<span>4GB</span> memory'
                                    li
                                        !='Prioritized Support'
                            a.btn.btn-sm.btn-primary.btn-block(href="#")
                                !='Sign Up'
                    .col-md-4
                        .pricing-table(data-animation-name="flipInY")
                            h2.price
                                !='$15<small>/mo.</small>'
                            h5.name
                                !='Premium'
                            .features
                                ul
                                    li
                                        !='<span>250</span> templates to choose from'
                                    li
                                        !='<span>10GB</span> disk space'
                                    li
                                        !='<span>5TB</span> bandwidth'
                                    li
                                        !='<span>4GB</span> memory'
                                    li
                                        !='Prioritized Support'
                            a.btn.btn-sm.btn-primary.btn-block(href="#")
                                !='Sign Up'
section.section.th-dark
    .section-row-container
        .section-row
            .container
                .row(data-animation-chain-duration="800")
                    .col-md-8.col-md-push-2
                        .call-to-action.centered.unboxed.no-margin-bottom
                            .call-to-action-inner
                                .col-text(data-animation-name="bounceIn")
                                    h2.headline
                                        !='So youre convinced that Hy<span class="text-primary">dro</span>gen is the best?'
                                .col-btn(data-animation-name="fadeInUp")
                                    a.btn.btn-lg.btn-default(href="http://www.themeforest.net", target="_blank")
                                        !='Buy Now on ThemeForest'
    .section-overlay
    .section-media.section-media-video(style="background-image: url(demo/img/first-frame.jpg);")
        video(style="width: 100%; height: 100%;", loop, autoplay)
            // WebM/VP8 for Firefox4, Opera, and Chrome
            source(type="video/webm", src="demo/videos/splash.webm")/
            // MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7
            source(type="video/mp4", src="demo/videos/splash.mp4")/