header.site-header
    .header-inner
        .container
            .row
                .header-table.col-md-12
                    .header-col.brand
                        a(href="#")
                            img(src="{{asset('img/logo-atemporale-design.png')}}", alt="Logo Atemporale Design")/
                    .header-col.main-nav
                        a.nav-toggle(href="#")
                        ul.nav
                            li
                                a(href="#")
                                    !='Home'
                            li
                                a(href="#about")
                                    !='Sobre nós'
                            li
                                a(href="#services")
                                    !='O que fazemos?'
                            li
                                a(href="#work")
                                    !='Nossos projetos'
                            li
                                a(href="#contact")
                                    !='Contato'
                            li
                                a(href="#")
                                    !='Em destaque'
                                    span.sub-toggle
                                ul
                                    li
                                        a(href="shortcodes.html")
                                            ='Shortcodes'
                                    li
                                        a(href="icons.html")
                                            ='Icons'
                                    li
                                        a(href="typography.html")
                                            ='Typography'

                            li
                                a(href="blog.html")
                                    ='Blog'
                                    span.sub-toggle
                                ul
                                    li
                                        a(href="blog-fullwidth.html")
                                            ='Blog Fullwidth'
                                    li
                                        a(href="blog-single.html")
                                            ='Single Post'