section#testimonials.section.th-dark(data-background="demo/parallax/1.jpg", data-background-xs="demo/parallax/1-xs.jpg", data-background-md="demo/parallax/1-md.jpg", data-background-lg="demo/parallax/1-lg.jpg")
    .section-row-container
        .section-row.three-quarters-padding-top.three-quarters-padding-bottom
            .container
                .row
                    .col-md-10.col-md-push-1
                        .testimonial-slider.owl-carousel(data-auto-height="true", data-single-item="true",data-animation-name="rotateInUpLeft")
                            .testimonial
                                blockquote
                                    p
                                        !='Ever since we started working with Hydrogen, every project we had was always on time delivered.'
                                    small
                                        !='Alan Grant <cite>Invision, Ltd.</cite>'
                            .testimonial
                                blockquote
                                    p
                                        !='Hydrogen is an awesome company!'
                                    small
                                        !='Dennis Nedry <cite>Jurassic Park</cite>'
                            .testimonial
                                blockquote
                                    p
                                        !='Awesome support, awesome work and great design! We couldnt ask for more from the great folks at Hydrogen.'
                                    small
                                        !='John Weasley <cite>The Burrow</cite></small>'
    .section-overlay
section#services.section
    .section-row-container
        .section-row
            .container
                .row
                    .col-lg-12
                        h1.section-title.show-counter
                            !='O que fazemos'
                            small
                                !='Serviços com alta performance que geram ocasiões de sucesso para você.'
                .row
                    .col-md-4
                        .service
                            .service-icon
                                i.fa.fa-paper-plane-o(data-animation-name="bounceIn")
                                i.fa.fa-paper-plane-o.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Sua <span class="text-primary">Marca Irresistível</span><small></br>para que o céu seja o limite</small>'
                                p.service-description
                                    !='Escolha do nome (naming) | Slogan | Logo | Papelaria (cartão de visitas, papel timbrado, etc.) | Editoriais (catálogos, revistas, etc.) |  Embalagens e etc.'
                    .col-md-4
                        .service
                            .service-icon
                                i.fa.fa-desktop(data-animation-name="bounceIn")
                                i.fa.fa-desktop.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='<span class="text-primary">Presença Virtual Insuperável</span><small></br>Insuperável</small>'
                                p.service-description
                                    !='Planejamento da presença online | Websites responsivos | E-commerce (lojas virtuais) | Portfólio | Blogs | Aplicativos | Redes sociais | Cartas e videos de vendas e etc.'
                    .col-md-4
                        .service
                            .service-icon
                                i.fa.fa-magic(data-animation-name="bounceIn")
                                i.fa.fa-magic.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Conquistar Clientes Potenciais<span class="text-primary">Convertê-los em clientes reais</span>'
                                p.service-description
                                    !='Campanhas Online e offline -> SEO e SEM | Landing pages | EmailMarketing | Facebook Ads | Google adwords | Redação para web | Videos de vendas | Ebooks | Cartazes e etc .'
                .spacer-20.hidden-xs.hidden-sm
                .row
                    .col-md-4
                        .service
                            .service-icon
                                i.fa.fa-globe(data-animation-name="bounceIn")
                                i.fa.fa-globe.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Para uma <span class="text-primary">Economia Azul</span>'
                                p.service-description
                                    !='Ecodesign (desenvolvimento de produtos ecosustentáveis) | Design sistêmico (gestão inteligente dos recursos naturais) | Design de Serviços (Soluções para problemas urbanos)'
                    .col-md-4
                        .service
                            .service-icon
                                i.fa.fa-university(data-animation-name="bounceIn")
                                i.fa.fa-university.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Trazer <span class="text-primary">Experiências que transformam </span>'
                                p.service-description
                                    !='Projetos sociais | Museu Virtual | Pesquisas e desenvolvimento | Conscientização quotidiana.'
                    .col-md-4
                        .service
                            .service-icon
                                i.fa.fa-users(data-animation-name="bounceIn")
                                i.fa.fa-users.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Acompanhamento e Consultorias '
                                p.service-description
                                    !='Gestão da marca e do projeto | Gerenciamento da reputação online | Acompanhamento  das redes sociais | Consultorias em Ecodesign'