section.section(data-background="demo/parallax/2.jpg", data-background-xs="demo/parallax/2-xs.jpg", data-background-md="demo/parallax/2-md.jpg", data-background-lg="demo/parallax/2-lg.jpg")
    .section-row-container
        .section-row.th-dark.no-padding-bottom.bg-transparent
            .container
                .row
                    .col-md-12
                        h3.section-subtitle.text-center
                            !='Recent Blog Posts'
                            small
                                !='<span class="highlight">Lets read together</span>'
        .section-row.no-padding-top.half-padding-bottom
            .container
                .row
                    .col-md-12(data-animation-name="fadeInRightBig")
                        .owl-carousel.items-carousel(data-auto-height="true")
                            .carousel-item
                                .recent-post.post-standard
                                    .recent-post-media.recent-post-img
                                        .media
                                            figure
                                                img(src="demo/blog/thumbs/r1.jpg", alt="")/
                                            .overlay
                                                ul
                                                    li.mfp-zoom
                                                        a(href="demo/blog/r1.jpg")
                                                            i.gi.gi-resize-full
                                    .recent-post-body
                                        a.read-more-link(href="blog-single.html")
                                            i.gi.gi-link
                                        .content
                                            h4.post-title
                                                !='Surfing in North Miami'
                                            p
                                                !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                            .meta
                                                ul
                                                    li
                                                        !='19 February 2014'
                                                    li
                                                        !='38 comments'
                                                    li
                                                        !='<i class="gi gi-heart text-primary"></i> 22'
                            .carousel-item
                                .recent-post.post-image
                                    .recent-post-media.standard-slider
                                        .royalSlider.rsHydrogen
                                            .slider-media
                                                figure
                                                    img(src="demo/blog/thumbs/r2.jpg", alt="")/
                                                .overlay
                                                    ul
                                                        li.mfp-zoom
                                                            a(href="demo/blog/r2.jpg")
                                                                i.gi.gi-resize-full
                                            .slider-media
                                                figure
                                                    img(src="demo/blog/thumbs/r4.jpg", alt="")/
                                                .overlay
                                                    ul
                                                        li.mfp-zoom
                                                            a(href="demo/blog/r4.jpg")
                                            .slider-media
                                                figure
                                                    img(src="demo/blog/thumbs/r5.jpg", alt="")/
                                                .overlay
                                                    ul
                                                        li.mfp-zoom
                                                            a(href="demo/blog/r5.jpg")
                                                                i.gi.gi-resize-full
                                    .recent-post-body
                                        a.read-more-link(href="blog-single.html")
                                            i.gi.gi-link
                                        .content
                                            h4.post-title
                                                !='Merry Go Round'
                                            p
                                                !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                            .meta
                                                ul
                                                    li
                                                        !='19 February 2014'
                                                    li
                                                        !='38 comments'
                                                    li
                                                        !='<i class="gi gi-heart text-primary"></i> 22'
                            .carousel-item
                                .recent-post.post-video
                                    .recent-post-media.recent-post-video
                                        .media
                                            figure
                                                img(src="demo/blog/thumbs/r3.jpg", alt="")/
                                            .overlay
                                                ul
                                                    li.mfp-zoom
                                                        a.mfp-iframe(href="http://vimeo.com/81151091")
                                                            i.gi.gi-play
                                    .recent-post-body
                                        a.read-more-link(href="blog-single.html")
                                            i.gi.gi-link
                                        .content
                                            h4.post-title
                                                !='Reaching The Moon'
                                            p
                                                !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                            .meta
                                                ul
                                                    li
                                                        !='19 February 2014'
                                                    li
                                                        !='38 comments'
                                                    li
                                                        !='<i class="gi gi-heart text-primary"></i> 22'
                            .carousel-item
                                .recent-post.post-audio
                                    .recent-post-body
                                        a.read-more-link(href="blog-single.html")
                                            i.gi.gi-link
                                        .content
                                            h4.post-title
                                                !='Miaow - Bubble'
                                            p
                                                !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                            .meta
                                                ul
                                                    li
                                                        !='19 February 2014'
                                                    li
                                                        !='38 comments'
                                                    li
                                                        !='<i class="gi gi-heart text-primary"></i> 22'
                                    .recent-post-media
                                        .media
                                            audio(src="demo/audio/miaow.m4a", type="audio/mp4")
                            .carousel-item
                                .recent-post.post-quote
                                    .recent-post-body
                                        a.read-more-link(href="blog-single.html")
                                            i.gi.gi-link
                                        .content
                                            blockquote
                                                p
                                                    !='All our dreams can come true–if we have the courage to pursue them.'
                                                small
                                                    !='Walt Disney'
                                            .meta
                                                ul
                                                    li
                                                        !='19 February 2014'
                                                    li
                                                        !='38 comments'
                                                    li
                                                        !='<i class="gi gi-heart text-primary"></i> 22'
    .section-overlay