footer.site-footer
    .footer-logo
        .container
            .row
                .col-md-12
                    a(href="#")
                        img(src="{{asset('img/atemporale_design_logo_simbolo.png')}}", style="width: 100px", alt="Logo Atemporale Design")/
    // inizio nascosto
    .footer-widgets
        .container
            .row
                .col-md-4
                    h5.widget-title
                        !='Atemporale Design </br>Estratégias Criativas de Comunicação e Design.'
                    p
                        !='Acreditamos que é possível transformar o nosso mundo a partir de nós mesmos. Por isso o nosso grande objetivo é contribuir para um mundo melhor com projetos e ações eco, ética e conscienciosa.'
                .col-md-4
                    h5.widget-title
                        !='Nossos Serviços'
                    ul
                        li
                            a(href="#")
                                !='Marca irresistível'
                        li
                            a(href="#")
                                !='Identidade Virtual insuperável' 
                        li
                            a(href="#")
                                !='Conquistar seus Potenciais Clientes' 
                        li
                            a(href="#")
                                !='Para uma Economia Azul' 
                        li
                            a(href="#")
                                !='Trazer Experiências transformadoras'     
                        li
                            a(href="#")
                                !='Acompanhamento e Consultorias' 

                .col-md-4
                    h5.widget-title
                        !='Atemporale Projetos'
                    ul
                        li
                            a(href="#")
                                !='Atemporale Next'
                        li
                            a(href="#")
                                !='MVIN' 
                        
    // fine nascosto

    .footer-bottom
        .container
            .row
                .col-md-12
                    .footer-text
                        a.fa.fa-creative-commons(rel="license", href="http://creativecommons.org/licenses/by/4.0/", target="_blank", title="#")
                    

                        !='<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Atemporale Design </span> è distribuito con Licenza <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribuzione 4.0 Internazionale</a>.'


                    .social-list
                        ul
                            li
                                a(href="https://www.facebook.com/AtemporaleDesign/")
                                    i.fa.fa-facebook
                            li
                                a( href="https://twitter.com/Atemporale_D")
                                    i.fa.fa-twitter
                            li
                                a( href="https://www.instagram.com/atemporaledesign/")
                                    i.fa.fa-instagram
                            li
                                a( href="https://plus.google.com/+AtemporaleD/posts?hl=en")
                                    i.fa.fa-google-plus
                            li
                                a( href="https://github.com/AtemporaleNEXT")
                                    i.fa.fa-github
