li
    a(href!="/#")
        !='Home'
li
    a(href!="/#about")
        !='Sobre nós'
li
    a(href!="/#services")
        !='O que fazemos?'
li
    a(href!="/#work")
        !='Nossos projetos'
li
    a(href!="/#contact")
        !='Contato'
li
    a(href!="/blog")
        ='Blog'
        span.sub-toggle
    ul
        li
            a(href!="/blog")
                ='Mais novos'
        li
            a(href!="/blog/identidade")
                ='Identidade visual'
        li
            a(href!="/blog/webdesign")
                ='Webdesign'
        li
            a(href!="/blog/marketing")
                ='Marketing digital'
        li
            a(href!="/blog/ecodesign")
                ='Ecodesign'
        li
            a(href!="/blog/sociais")
                ='Projetos sociais'
        li
            a(href!="/blog/interdisciplinares")
                ='Interdisciplinares'
        li
            a(href!="/blog/uncategorized")
                ='Uncategorized'