include ./../layouts/mixin.jade

+extends('template/index')

+section('MetaDescription')
    meta(name="description", content="aaa")/

+section('MetaKeywords')
    meta(name="keywords", content="aaa, aaa, aaa")/

+section('cssPagina')
    link(rel="stylesheet", href!="{{ asset('css/home.css') }}", type="text/css")/

+section('jsPagina')
    script(src!="{{ asset('js/home.min.js')}}", type="text/javascript")

+section('content')
    +include('public/home/_partial1_greyie8')