
<li><a href="/#">Home</a></li>
<li><a href="/#about">Sobre nós</a></li>
<li><a href="/#services">O que fazemos?</a></li>
<li><a href="/#work">Nossos projetos</a></li>
<li><a href="/#contact">Contato</a></li>
<li><a href="/blog">Blog<span class="sub-toggle"></span></a>
  <ul>
    <li><a href="/blog">Mais novos</a></li>
    <li><a href="/blog/identidade">Identidade visual</a></li>
    <li><a href="/blog/webdesign">Webdesign</a></li>
    <li><a href="/blog/marketing">Marketing digital</a></li>
    <li><a href="/blog/ecodesign">Ecodesign</a></li>
    <li><a href="/blog/sociais">Projetos sociais</a></li>
    <li><a href="/blog/interdisciplinares">Interdisciplinares</a></li>
    <li><a href="/blog/uncategorized">Uncategorized</a></li>
  </ul>
</li>{% if user %}
<li><a href="#" data-request="onLogout">Logout</a></li>{% endif %}
<li><a href="/account">Area clienti</a></li>